* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #543ff7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
textarea,
input {
  border: none;
  outline: none;
}
